.gateway-section {
  min-height: 100vh;
  background-color: #0a0a0a;
  background-image: radial-gradient(circle at 50% 50%, #161616 0%, #0a0a0a 80%);
  color: #E2E2E2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
}

.gateway-header {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 1rem;
  /* background: linear-gradient(to bottom, #c3c3c5, #1a1a2e); */
  background: linear-gradient(to bottom, #a8a8a8 10%, #6b7280 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  
  margin-bottom: 4rem;
  border-bottom: 1px solid rgba(212, 175, 55, 0.5); 
  padding-bottom: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1400px;
  flex-wrap: wrap;
}

.view-all-btn {
  margin-top: 2rem;
  width: 100%;
  max-width: 1400px;
  padding: 1.5rem 0;
  height: 80px;
  
  background-color: #1a1a2e;
  /* background-image: linear-gradient(to bottom, #1a1a2e 0%, #0a0a0e 70%); */
  background-image: linear-gradient(to right, #0a0a0e 0%, #0f0f1e 45%, #0f0f1e 55%, #0a0a0e 100%);

  border: 1px solid rgba(255,255,255,0.1);
  
  color: #bbb;
  font-family: 'Cinzel', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: relative;
  overflow: hidden;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-all-btn::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border: 1px solid rgba(212, 175, 55, 0.2);
  transition: all 0.5s ease;
  pointer-events: none;
}

.view-all-btn:hover {
  transform: scaleY(1.1) scaleX(1.01);  
  border-color: #7d0909bb;
  box-shadow: 0 0 25px rgba(220, 20, 60, 0.3);
  letter-spacing: 0.3em;
}

.view-all-btn:hover::after {
  border-color:  rgba(220, 20, 60, 0.5);
}